#Loaded the data.table package.

In [ ]:
library(data.table)
library(tibble)
library(tidyverse)
library(ggplot2)
library(GGally)

#Set the data as tibble.

In [ ]:
data("nasa", package = "GGally")
nasa_data <- as.tibble(nasa)

#Selected "id", "date", and "pressure" columns.

In [ ]:
nasa_data %>%
select(id, date, pressure)

#Filtered rows for columns when "cloudlow" is above 40 and "pressure" is below 1000.

In [ ]:
nasa_data %>% 
filter(cloudlow > 40 & pressure < 1000)

#Created new columns "high_low" and "o_p".

In [ ]:
nasa_data %<>%
mutate( high_low = cloudhigh / cloudlow ) %>%
mutate( o_p = ozone * pressure)

#Grouped the tibble by "id" and found max values for each id.

In [ ]:
nasa_data %>%
group_by(id) %>%
summarize(max_temperature = max(temperature, na.rm = T))

#Executed a pivot_wider operation with "nasa_data".

In [ ]:
nasa_at <- nasa_data %>%
group_by(id, pressure) %>%
summarise(min_at_nasa = min(lat, na.rm = T))

In [ ]:
nasa_at

In [ ]:
nasa_at_wide <- nasa_at %>% pivot_wider(id_cols = id, names_from = pressure , values_from = min_at_nasa)

#Executed a pivot_longer operation with "nasa_at_wide".

In [ ]:
nasa_at_wide %>% pivot_longer(cols = -"id", names_to = "pressure2", values_to = "min_nasa2", values_drop_na = T)

#Created a new table for left_join operation by using slice().

In [ ]:
table2 <- nasa_data %>% slice(400:1200)

In [ ]:
#Made a left_join operation by "date".

In [ ]:
nasa_data %>% left_join(table2, by = "date")